<a href="https://colab.research.google.com/github/gimpapa/middle_school_math_with_python/blob/main/01_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Set operations using [list]

# 0. Compare 'a' and 'b'. Add elements of 'a' to 'b' that are not in 'b'

In [4]:
a=[1,2,3]
b=[4,5,6]

for i in a:             # take one by one from 'a'
  if i not in b:        # that are not in 'b'
    b.append(i)         # add to 'b'

print(b)

[4, 5, 6, 1, 2, 3]

In [5]:
b.sort()
print(b)

[1, 2, 3, 4, 5, 6]

# 1. Union

In [6]:
list_c=[]                           # An empty list 'c'

list_a=[1,1,3,3,5,5,7,7,9,9]        
list_b=[2,2,4,4,6,6,8,8]            

for i in list_a:                    
  if i not in list_c:               
    list_c.append(i)               

for j in list_b:                   
  if j not in list_c:               
    list_c.append(j)               

list_c.sort()
print(list_c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# 2. Intersection

In [7]:
menu_a=['apple','banana','grape','coffee']
menu_b=['grape','coffee','ice cream','snack']

menu_c=[]                   # creat an empty list 'menu_c'.
                            # Storing the common elements of 'menu_a' and 'menu_b'
for i in menu_a:            # results in an intersection.
  if i in menu_b:           
    menu_c.append(i)        

print(menu_c)

['grape', 'coffee']

# 3. Difference

In [8]:
menu_a=['apple','banana','grape','coffee']
menu_b=['grape','coffee','ice cream','snack']

menu_d=menu_a.copy()            # Using copy() function so that 'menu_a' does not change.
                                # "menu_d=menu_a" will change 'menu_a'.
print('original menu_a: ', menu_d)

original menu_a:  ['apple', 'banana', 'grape', 'coffee']

In [9]:
for i in menu_b:        # Take one by one from 'menu_b'
  if i in menu_d:       # that are in 'menu_d'
    print(i)            
    menu_d.remove(i)    # Delete from 'menu_d'

                        # Do no use 'menu_d' for 'for syntax'.
                        # because 'menu_d' changed inside the 'for syntax'
                        # it dose not work the way you want.
  
print('After removing the common menu: ', menu_d)

grape
coffee
After removing the common menu:  ['apple', 'banana']

# 4. Creat a union function.

In [10]:
def union(a,b):         # Take over 'a' and 'b'.

  c=[]                  # An empty list 'c'

  for i in a:
    if i not in b:
      c.append(i)

  c=c+b
  
  d=set(c)              # Remove duplicates by changing the data type to a set.
  c=list(d)             # Back to the list. 

  c.sort
  return c

In [11]:
a=[1,1,3,3,5,5,7,7,9,9]
b=[2,2,4,4,1,1,5,5,7,7]

print(union(a,b))

[1, 2, 3, 4, 5, 7, 9]

# 5. Creat an intersection function.

In [12]:
def intersection(a,b):

  c=[]

  for i in a:
    if i in b:
      c.append(i)
  
  d=set(c)
  c=list(d)

  c.sort()
  return c

In [13]:
a=[1,1,3,3,5,5,7,7,9,9]
b=[2,2,4,4,1,1,5,5,7,7]

print(intersection(a,b))

[1, 5, 7]

# 6. Creat a difference function.

In [14]:
def complement(a,b):

  c=a.copy()

  for i in b:
    if i in a:
      c.remove(i)
  
  d=set(c)
  c=list(d)

  return c

In [15]:
a=[1,1,3,3,5,5,7,7,9,9]
b=[2,2,4,4,1,1,5,5,7,7]

print('a-b= ',complement(a,b))
print('b-a= ',complement(b,a))

a-b=  [9, 3]
b-a=  [2, 4]

# 7. Creat a union function of three or more.

In [16]:
def unions(*lists):     # * allows multiple values to be accepted.

    u=lists[0].copy()   # Copy the first element and put it in 'u'.

    for i in lists[1:]: # Get the second element first.
        u=union(u,i)    # Use the union function created above.
    
    return u

In [17]:
n1=[1,1,2,2,3,3]
n2=[4,4,5,5,6,6]
n3=[7,7,8,8,9,9]
n4=[0,0,123,456]

numbs=unions(n1,n2,n3,n4)
print(numbs)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 456, 123]

# 8. Creat an intersection function of three or more.

In [18]:
def intersections(*lists):          
    inter=lists[0].copy()           

    for n in lists[1:]:             
        inter=intersection(inter,n) 
    return inter

In [19]:
ni_1=[1,1,2,2,3,3]
ni_2=[4,4,5,5,6,6,1,1]
ni_3=[7,7,8,8,9,9,1]
ni_4=[0,0,123,456,1]

ni_s=intersections(ni_1,ni_2,ni_3,ni_4)
print(ni_s)

[1]