<a href="https://colab.research.google.com/github/gimpapa/gimpapa/blob/main/01_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 데이터 타입에 집합이 있지만, 리스트를 이용해 집합의 연산을 해보자.

# a와 b를 비교해서, b에 없는 a의 원소를 b에 추가하기

In [ ]:
a=[1,2,3]
b=[4,5,6]

for i in a:             # a에서 하나씩 가져와서
  if i not in b:        # b에 '있지 않으면'
    b.append(i)         # b에 추가

print(b)

[4, 5, 6, 1, 2, 3]

In [ ]:
b.sort()
print(b)

[1, 2, 3, 4, 5, 6]

# 합집합: list_a와 list_b의 합집합 list_c

In [ ]:
list_c=[]                           # 빈 리스트 c를 만들어서

list_a=[1,1,3,3,5,5,7,7,9,9]        # a를 추가하고
list_b=[2,2,4,4,6,6,8,8]            # b를 추가하면 합집합 c가 된다.

for i in list_a:                    # a에서 하나씩 가져와서
  if i not in list_c:               # c에 '있지 않으면'
    list_c.append(i)                # c에 추가

for j in list_b:                    # b에서 하나씩 가져와서
  if j not in list_c:               # c에 '있지 않으면'
    list_c.append(j)                # c에 추가

list_c.sort()
print(list_c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# 교집합 : munu_a와 menu_b의 교집합 menu_c

In [ ]:
menu_a=['apple','banana','grape','coffee']
menu_b=['grape','coffee','ice cream','snack']

menu_c=[]                   # 빈 리스트 c를 만들고
                            # a와 b의 공통 원소를 저장하면 교집합이 된다.
for i in menu_a:            # a에서 하나씩 가져와서
  if i in menu_b:           # b에 있는 원소면
    menu_c.append(i)        # c에 추가한다.

print(menu_c)

['grape', 'coffee']

# 차집합 : munu_a와 menu_b의 차집합 menu_d

In [ ]:
menu_a=['apple','banana','grape','coffee']
menu_b=['grape','coffee','ice cream','snack']

menu_d=menu_a.copy()            # menu_a가 변경되지 않게 copy()를 이용
                                # menu_d=menu_a 이렇게 하면 menu_a 값이 변경된다.
print('원래의 메뉴는: ', menu_d)

원래의 메뉴는:  ['apple', 'banana', 'grape', 'coffee']

In [ ]:
for i in menu_b:        # b에서 하나씩 가져와서
  if i in menu_d:       # d에 있는 메뉴면 즉, a(=d)와 b의 공통 메뉴면
    print(i)            
    menu_d.remove(i)    # d에서 지운다.

                        # for문에 menu_d를 사용하지 말자.
                        # for문 내에서 menu_d를 바꾸기 때문에
                        # for문이 원하는대로 작동하지 않는다.
  
print('공통 메뉴를 빼고 나면: ', menu_d)

grape
coffee
공통 메뉴를 빼고 나면:  ['apple', 'banana']

# 합집합 함수 만들기

In [ ]:
def union(a,b):         # a와 b를 받는다.

  c=[]                  # 빈 리스트 c를 만든다.

  for i in a:
    if i not in b:
      c.append(i)

  c=c+b
  
  d=set(c)              # 집합으로 데이터 타입을 변경해 중복을 제거한다.
  c=list(d)             # 다시 리스트로 데이터 타입을 변경한다. 

  c.sort
  return c

In [ ]:
a=[1,1,3,3,5,5,7,7,9,9]
b=[2,2,4,4,1,1,5,5,7,7]

print(union(a,b))

[1, 2, 3, 4, 5, 7, 9]

# 교집합 함수 만들기

In [ ]:
def intersection(a,b):

  c=[]

  for i in a:
    if i in b:
      c.append(i)
  
  d=set(c)
  c=list(d)

  c.sort()
  return c

In [ ]:
a=[1,1,3,3,5,5,7,7,9,9]
b=[2,2,4,4,1,1,5,5,7,7]

print(intersection(a,b))

[1, 5, 7]

# 차집합 함수 만들기

In [ ]:
def complement(a,b):

  c=a.copy()

  for i in b:
    if i in a:
      c.remove(i)
  
  d=set(c)
  c=list(d)

  return c

In [ ]:
a=[1,1,3,3,5,5,7,7,9,9]
b=[2,2,4,4,1,1,5,5,7,7]

print('a-b= ',complement(a,b))
print('b-a= ',complement(b,a))

a-b=  [9, 3]
b-a=  [2, 4]

# 세 개 이상의 합집합 함수 만들기

In [ ]:
def unions(*lists):     # *은 여러 개를 받을 수 있게 한다.

    u=lists[0].copy()   # 첫번째[0] 리스트를 복사해서 u에 담는다.

    for i in lists[1:]: # 두번째[1] 리스트부터 가져온다.
        u=union(u,i)    # 위에서 합집합 만드는 함수 union을 쓴다.
    
    return u

In [ ]:
n1=[1,1,2,2,3,3]
n2=[4,4,5,5,6,6]
n3=[7,7,8,8,9,9]
n4=[0,0,123,456]

numbs=unions(n1,n2,n3,n4)
print(numbs)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 456, 123]

# 세 개 이상의 교집합 함수 만들기

In [ ]:
def intersections(*lists):          # 리스트를 여러개(*) 받는다.
    inter=lists[0].copy()           # 첫번째[0] 리스트를 복사해어 inter에 넣는다.

    for n in lists[1:]:             # 두번째[1] 리스트부터 하나씩 꺼내서
        inter=intersection(inter,n) # inter와 공통되는 원소만 남긴다. 위에서 intersection 함수로 만든 내용임.
    return inter

In [ ]:
ni_1=[1,1,2,2,3,3]
ni_2=[4,4,5,5,6,6,1,1]
ni_3=[7,7,8,8,9,9,1]
ni_4=[0,0,123,456,1]

ni_s=intersections(ni_1,ni_2,ni_3,ni_4)
print(ni_s)

[1]